<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.redbox.medicare">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MediCare"
        android:usesCleartextTraffic="true">
        <activity android:name=".SslCommerzPaymentGateway"></activity>
        <activity android:name=".DoctorRegister" />
        <activity android:name=".PatientRegister" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".PatientNotification" />
        <activity android:name=".PatientMessege" />
        <activity android:name=".DoctorNotification" />
        <activity android:name=".DoctorMessege" />
        <activity android:name=".Feedback" />
        <activity android:name=".AboutUs" />
        <activity android:name=".DoctorProfile" />
        <activity android:name=".FindDoctor" />
        <activity android:name=".ListDoctor" />
        <activity android:name=".PatientProfile" />
        <activity android:name=".MedicalReportList" />
        <activity android:name=".PrescriptionRecord" />
        <activity android:name=".AppointmentList" />
        <activity android:name=".ScheduleManager" />
        <activity android:name=".DoctorActivity" />
        <activity android:name=".PatientMedicalReport" />
        <activity android:name=".PatientPrescription" />
        <activity android:name=".PatientAppointment" />
        <activity android:name=".DoctorList" />
        <activity android:name=".PatientActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>